* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header,
.footer,
.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 0;
  padding-bottom: 0;
}

#logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  flex-shrink: 0;
}

ul {
  display: flex;
  flex-shrink: 0;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 150px;
  gap: 40px;
}

#heroheader {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  width: 450px;
}

.hero p {
  margin: 0;
  margin-bottom: 10px;
  width: 450px
}

.hero a,
.cta a {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 500;
  border-radius: 7px;
  padding: 6px 32px;
}


.hero a {
  border: 0;
}

.hero a:hover {
  background-color: #1f2937;
  border: 1px solid #f9faf8;
}

.heroimage img {
  width: 440px;
  border-radius: 7px;
}

.info {
  color: #1f2937;
}

.infoheader {
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.infosection {
font-size: 18px;
text-align: center;
display: flex;
justify-content: center;
gap: 50px;
margin-bottom: 90px;
}

.infosection img {
  width: 200px;
  border: 3px solid #3882f6;
  border-radius: 7px;
}

.infosection p {
  margin: 0;
}

.infoitem1,
.infoitem2,
.infoitem3,
.infoitem4 {
  width: 200px;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.quotetext {
  width: 820px;
  margin: 0;
  padding: 0;
}

#quotename {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  padding-left: 510px;
  flex-shrink: 0;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 7px;
  word-wrap: 0;
  display: flex;
  margin: 100px 150px;
  padding: 60px 0;
  justify-content: space-evenly;
}

.ctatext div {
  font-size: 24px;
  font-weight: bold;
}

.ctatext p {
  margin: 0;
  padding: 0;
}

.ctatext {
  font-size: 18px;
}

.cta a {
  border: solid #f9faf8;
  align-self: center;
}

.cta a:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}